@import '../../assets/colors.scss';
@import '../../assets/globals.scss';
@import '../../assets/functions.scss';
@import '../../assets/mixins.scss';

.arrival {
  min-height: 100vh;
  padding-left: 100px;
  padding-right: 100px;
}

.arrival__container {
  @include mainContainer;
}

.arrivalTitle__block {
  display: flex;
  flex-direction: column;
  gap: rem(20px);
}

.arrival__title {
  font-size: $primary-first;
  color: $primary-black;
  font-weight: 600;
  line-height: 1.33333;
  letter-spacing: 0.04em;
}
