@import '../../assets/colors.scss';
@import '../../assets/globals.scss';
@import '../../assets/functions.scss';
@import '../../assets/mixins.scss';

.wishlist {
  min-height: 100vh;
}

.wishlist__container {
  @include mainContainer;
  padding: 80px 100px;
}

.wishlist__nav {
   display: flex;
   line-height: 1.3;
   gap: rem(40px);
}

.wishlist__title {
  font-weight: 500;
  font-size: $primary-five;
  padding-bottom: rem(60px);
}

.home__link {
   font-weight: 500;
   font-size: $primary-five;
   color: $primary-gray;
   text-decoration: underline;
}

.wishlistProducts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem(30px);
}
