@import '../../assets/mixins.scss';
@import '../../assets/globals.scss';
@import '../../assets/colors.scss';
@import '../../assets/functions.scss';


.hero {
  display: flex;
}

.hero__container {
  display: flex;
  gap: rem(45px);
  @include mainContainer;
  height: 100%;
  max-height: 344px;
  margin-bottom: 100px;
}


@media screen and (min-width: 1200px) {
  .hero__container {
    justify-content: space-between;
  }
}