@import '../../../assets/colors.scss';
@import '../../../assets/globals.scss';
@import '../../../assets/functions.scss';
@import '../../../assets/mixins.scss';

.product {
  min-height: 100vh;
}

.product__container {
  @include mainContainer;
  padding-left: 100px;
  padding-right: 100px;
}

.productNav__block {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 80px;
}

.account__link {
  color: $primary-black;
  opacity: 0.5;
  font-weight: 500;
  line-height: 1.5;
}

.account {
  position: relative;
  &::after {
    position: absolute;
    right: -20%;
    transform: rotate(-160deg);
    top: 18%;
    content: '';
    width: 1px;
    height: 13px;
    background: $primary-black;
    opacity: 0.5;
  }
}

.product__category {
  color: $primary-black;
  opacity: 0.5;
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  &::after {
    position: absolute;
    right: -30%;
    transform: rotate(-160deg);
    top: 18%;
    content: '';
    width: 1px;
    height: 13px;
    background: $primary-black;
    opacity: 0.5;
  }
}

.product__title {
  font-weight: 600;
}

.productItem {
  padding-top: rem(80px);
  display: flex;
  gap: rem(41px);
  padding-bottom: rem(140px);
}

.product__imagesBlock {
  display: flex;
  gap: rem(80px);
}

.productImages__items {
  display: flex;
  flex-direction: column;
  gap: rem(16px);
}

.productMainImage {
  object-fit: cover;
  object-position: top;
  max-width: 300px;
  max-height: 300px;
  height: auto;
  margin-bottom: -100px;
  border-radius: rem(10px);
}

.smallImage {
  width: 100%;
  max-width: rem(140px);
  border-radius: rem(5px);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  cursor: pointer;
  padding: rem(5px);
  object-fit: contain;
}

.productInformation__block {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: rem(20px);
}

.title {
  font-size: $secondary;
  color: $primary-black;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.productInformation__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: rem(15px);
  border-bottom: 2.5px solid $primary-light;
}

.product__rating {
  display: flex;
  align-items: center;
  gap: rem(5px);
  color: $primary-gray;
  font-weight: 500;
  line-height: 1.2;
}

.product__id {
  color: $primary-black;
  font-weight: 500;
  line-height: 1.2;
}

.stock__marker {
  font-weight: 600;
  line-height: 1.2;
  color: $primary-stock-color;
  opacity: 0.7;
  background: transparent;
}

.product__price,
.product__discount {
  color: $primary-black;
  font-weight: 500;
  font-size: $primary-base;
}

.productPrices__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount__through {
  background: transparent;
  text-decoration: line-through;
  text-decoration-color: $primary-gray;
}

.productToBuy__block {
  display: flex;
  align-items: center;
  gap: rem(20px);
  margin-top: rem(20px);
}

.productToBuy__button {
  background: $primary-dark-red;
  color: $primary-light-white;
  font-size: $primary-base;
  width: 100%;
  padding: 10px 40px;
  width: 200px;
  border-radius: rem(8px);
  height: 50px;
  line-height: 1.5;
  font-weight: 500;
}

.favorite__button {
  padding: rem(14px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid $primary-light-black;
  background: transparent;
  border-radius: rem(8px);
}

.product__about {
  font-weight: 500;
  color: $primary-light-black;
  line-height: 1.5;
}

.product__subStyle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__subStyle > span {
  color: $primary-black;
  font-weight: 500;
  line-height: 1.5;
}
