@import '../../assets/colors.scss';
@import '../../assets/globals.scss';
@import '../../assets/functions.scss';
@import '../../assets/mixins.scss';

.computer {
  min-height: 100vh;
}

.computers {
   display: flex;
}

.computers__container {
  @include mainContainer;
  padding: rem(50px);
}

.computers__products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.computers__title {
  text-align: center;
  font-weight: 600;
  font-size: $secondary;
}
