$primary-black: #000000;
$primary-light-white: #fafafa;
$primary-input-background: #f5f5f5;
$primary-light-black: rgba(0, 0, 0, 0.5);
$primary-dark-red: #db4444;
$primary-light-red: #e07575;
$primary-gray: #2f2e3073;
$primary-light: #cbe4e8;
$primary-light-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
  rgba(255, 255, 255, 0.8) -6px -2px;
$primary-stock-color: #0f6;