@import './functions.scss';

$primary: rem(14px);
$secondary: rem(24px);
$primary-base: rem(16px);
$primary-first: rem(36px);
$primary-two: rem(12px);
$primary-third: rem(48px);
$primary-four: rem(32px);
$primary-five: rem(20px);
$primary-six: rem(110px);
