@import '../../../assets/colors.scss';
@import '../../../assets/globals.scss';
@import '../../../assets/functions.scss';
@import '../../../assets/mixins.scss';


.signIn {
   min-height: 100vh;
}


.signIn__container {
   @include mainContainer;
   padding: 40px 100px;
   padding-top: 20px;
 }
 
 .signIn__flex {
   display: flex;
   justify-content: space-between;
 }
 
 .signIn__image {
   width: 100%;
   max-width: 600px;
   height: 500px;
   object-fit: cover;
 }
 